<div id="<%= dom_id condition %>">
  <p>
    <strong>Attendence:</strong>
    <%= condition.attendence %>
  </p>

  <p>
    <strong>Durarion:</strong>
    <%= condition.durarion %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= condition.place %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= condition.datetime %>
  </p>

</div>
