<div id="<%= dom_id vet %>">
  <p>
    <strong>Name:</strong>
    <%= vet.Name %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= vet.crew %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= vet.birthday %>
  </p>

  <p>
    <strong>Dog type:</strong>
    <%= vet.dog_type %>
  </p>

</div>
